* {
    box-sizing: border-box;
}
body{
    background-color:#483D8B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}
div.container {
    margin: 0 auto;
    height: 550px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 40px 10px blueviolet;    
    
}
.heading {
    color:  blue;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    text-shadow: 2px 2px 4px blueviolet;
}
.input-container {
    width: 65%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
.input-container > #icon1 {
    position: absolute;
    left: 10px;
    top: calc(50% - 11px);
    color: blue;
    font-size: 22px;
    text-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px;
}
.input-container > #icon2{
    position: absolute;
    left: 10px;
    top: calc(50% - 11px);
    color: blue;
    font-size: 22px;
    text-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px;

}
.input-container > #icon3{
    position: absolute;
    left: 10px;
    top: calc(50% - 11px);
    color: blue;
    font-size: 22px;
    text-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px;
}
.input-container > input {
    border-radius: 20px;
    border: 1px solid #ccc;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 20px;

    padding: 15px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;

    width: 100%;
    
}
.agree{
    text-align: center;
    
}
#last-button {
    margin-left: 180px;
    margin-top: 15px;
    border-radius: 20px;
    padding: 10px;
    background:  blueviolet;
    color: white;
    border: 3px #796878;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.sign-in{
    text-align: center;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}